.signInButton {
  height: 3rem;

  padding: 0 1.5rem;

  border: 0;
  border-radius: 3rem;

  background: var(--gray-850);

  color: var(--white);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    width: 24px;
    height: 24px;

    &:first-child {
      margin-right: 1rem;
    }

    &.closeIcon {
      margin-left: 1rem;

      transition: color 0.2s;

      &:hover {
        color: var(--gray-300);
      }
    }
  }
}
